input{
    height: 28px;
    width: 260px;
    border: none;
    border-radius: 12px;
}

button{
    border:none;
    border: none;
    background-color: #FFCC01;
    height: 44px;
    width: 86px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 700;
    color: black;
    font-family: 'Open Sans', sans-serif;
    pointer-events: all;
    margin-left: 4px;
}

button:hover{
    background-color: white;
}