
.container{
    background-color: #ee6901;
    display: flex;
    justify-content: space-evenly; 
}

.img{
    height: 100%;
} 

.divImg{
    display: flex;
    margin: 15px;
    justify-content: space-between;
}

.create{
    border: none;
    background-color: #ffcc06;
    height: 44px;
    width: 171px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 900;
    color: black;
    font-family: 'Open Sans', sans-serif;
    cursor: pointer;
    margin: 5px;
    
}

.create:hover{
    background-color: white;
}


.divSelectors{
    display: flex;
    margin: 15px;
}


.select:hover{
    background-color: white;
}

.selectOne{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 44px;
    font-family:'Open Sans', sans-serif ;
    font-size: 15px;
    border:white;
    background: #ffcc06;
    align-items: center;
    text-align: unset;
    margin-top: 5px;
    cursor: pointer;
}

.selectOne:hover{
    background-color: white;
}


.selectTwo{
    height: 44px;
    font-family:'Open Sans', sans-serif ;
    font-size: 15px;
    border:white;
    background: #ffcc06;
    align-items: center;
    text-align: unset;
    margin-top: 5px;
    cursor: pointer;
}

.selectTwo:hover{
    background-color: white;
}

.selectThree{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 44px;
    font-family:'Open Sans', sans-serif ;
    font-size: 15px;
    border:white;
    background: #ffcc06;
    align-items: center;
    text-align: unset;
    margin-top: 5px;
    cursor: pointer;
}

.selectThree:hover{
    background-color: white;
}


.button{
    border:none;
    border: none;
    background-color: #FFCC01;
    height: 44px;
    width: 86px;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 700;
    color: black;
    font-family: 'Open Sans', sans-serif;
    pointer-events: all;
    margin-left: 4px;
    cursor: pointer;
    margin: 5px

}

.button:hover{
    background-color: white;
}

.options{
    text-transform: capitalize;
}